<!-- Footer-->
<footer class="footer text-center m-0 p-0">
  <!-- Social Media - transclusion -->
  <ng-content select="#slot-footer"></ng-content>

  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <span class="d-block"
      >made with
      <a [href]="toolLink" target="_blank" (click)="openLink()">
        {{ tool }}
      </a>
    </span>
    <span class="d-block">
      <a [href]="themeLink" target="_blank" (click)="openLink()">
        {{ theme }}
      </a>
      under {{ license }} license</span
    >
    <small>Copyright © {{ copyright }}</small>
  </div>
</footer>
