<!-- dynamic component Tabs Menu -->
<nav class="mx-auto pt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item" id="cross">
      <a
        class="nav-link text-custom border border-warning"
        [routerLink]="lgpd.close"
        rel="nofollow noreferrer"
      >
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-dark"
        rel="nofollow"
        href="javascript:void(0)"
        (click)="switch(1)"
        rel="nofollow noreferrer"
        >English
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-dark"
        rel="nofollow"
        href="javascript:void(0)"
        (click)="switch(2)"
        rel="nofollow noreferrer"
        >Spanish
      </a>
    </li>
  </ul>
</nav>

<!-- dynamic component - Privacy Policy language EN/ES -->
<main
  [ngSwitch]="language"
  class="d-flex flex-column border border-warning text-justify mx-auto p-5"
>
  <app-privacy-en *ngSwitchCase="1"></app-privacy-en>
  <app-privacy-es *ngSwitchCase="2"></app-privacy-es>
  <app-privacy-en *ngSwitchDefault></app-privacy-en>
</main>

<!-- close window -->
<section class="d-flex flex-column py-5">
  <button class="align-self-center btn btn-outline-dark" (click)="reroute()">
    <i class="fas fa-times fa-fw"></i>
    Close
  </button>
</section>

<!-- * Scroll - UI * -->
<app-scroll></app-scroll>
