<!-- dynamic component Tabs Menu -->
<nav class="mx-auto py-5">
  <ul class="nav nav-tabs px-5">
    <li class="nav-item">
      <a
        class="nav-link"
        rel="nofollow"
        href="javascript:void(0)"
        (click)="switch(1)"
        >English</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        rel="nofollow"
        href="javascript:void(0)"
        (click)="switch(2)"
        >Spanish</a
      >
    </li>
  </ul>
</nav>

<!-- dynamic component - Privacy Policy language EN/ES -->
<main
  [ngSwitch]="language"
  class="d-flex flex-column border border-warning text-justify mx-auto p-5"
>
  <app-privacy-en *ngSwitchCase="1"></app-privacy-en>
  <app-privacy-es *ngSwitchCase="2"></app-privacy-es>
  <app-privacy-en *ngSwitchDefault></app-privacy-en>
</main>

<!-- close window -->
<section class="d-flex flex-column py-5">
  <button class="align-self-center btn btn-primary" (click)="close()">
    <i class="fas fa-times fa-fw"></i>
    Close
  </button>
</section>
