@import "../../../sass/globals";

.page-section .container {
  padding-top: 5rem;
}

// theme cuztomize

.control-group label {
  font-size: 1.5rem;
}

.floating-label-form-group-with-value label {
  color: gray;
}

.floating-label-form-group input.is-invalid {
  border: 1px solid $danger !important;
  border-radius: 10px;
  padding-left: 5px;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  border-width: 1px !important;
}

[type="submit"]:disabled {
  cursor: not-allowed;
}
