<!-- Contact Section-->
<section class="page-section mt-5" id="contact">
  <div class="container">
    <!-- EMAIL ME -->
    <h2
      class="
        page-section-heading
        text-center text-uppercase text-secondary
        mb-5
      "
    >
      Email Me
    </h2>

    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <h3
      class="d-block text-primary text-center mt-1"
      style="user-select: text; font-size: 1.1rem; color: orange"
    >
      isaacbejaranopro@gmail.com
    </h3>

    <!-- FORMULAR - TODO: to implement API REST -->
    <!-- <h2
      class="
        page-section-heading
        text-center text-uppercase text-secondary
        mb-0
      "
    >
      Contact Me
    </h2> -->

    <!-- <app-divider [color]="divider"></app-divider> -->

    <!-- <div class="row">
      <div class="col-lg-8 mx-auto">
        <form [formGroup]="form" (ngSubmit)="send()" autocomplete="off">
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Name</label>
              <input
                #ref1
                class="form-control"
                type="text"
                placeholder="Name"
                formControlName="name"
                [class.is-invalid]="validateOnTouched(ref1) > 0"
              />
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref1) === 1"
              >
                {{ contact.required1 }}
              </small>
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref1) === 2"
              >
                {{ contact.match1 }}
              </small>
            </div>
          </div>

          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Email Address</label>
              <input
                #ref2
                class="form-control border border-white"
                type="text"
                placeholder="Email Address"
                formControlName="email"
                [class.is-invalid]="validateOnTouched(ref2) > 0"
              />
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref2) === 1"
              >
                {{ contact.required2 }}
              </small>
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref2) === 2"
              >
                {{ contact.match2 }}
              </small>
            </div>
          </div>

          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Message</label>
              <textarea
                #ref3
                rows="5"
                class="form-control border border-white rounded"
                placeholder="Message"
                formControlName="msg"
                [class.is-invalid]="validateOnTouched(ref3) > 0"
              ></textarea>
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref3) === 1"
              >
                {{ contact.required3 }}
              </small>
              <small
                class="invalid-feedback"
                *ngIf="validateOnTouched(ref3) === 2"
              >
                {{ contact.match3 }}
              </small>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group my-5">
              <label class="small">
                <input
                  #ref4
                  class="mr-2"
                  type="checkbox"
                  formControlName="lgpd"
                  [class.is-invalid]="validateOnTouched(ref4) > 0"
                />
                {{ contact.warn1 }}
                <a
                  class="px-1"
                  rel="nofollow noreferrer"
                  [routerLink]="[contact.link]"
                  routerLinkActive="router-link-active"
                  >{{ contact.text }}</a
                >
                {{ contact.warn2 }}
              </label>

              <small
                class="d-block invalid-feedback small"
                *ngIf="validateOnTouched(ref4) === 1"
              >
                {{ contact.required4 }}
              </small>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group mt-0">
              <button
                class="btn btn-lg"
                type="submit"
                name="submited"
                value="valid"
                [class.btn-outline-dark]="!disabled || submitable"
                [class.btn-danger]="disabled && !submitable"
                [disabled]="disabled && !submitable"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div> -->

    <!-- DEBUGG -->
    <!-- <pre class="border border-danger p-3">
      form.valid: {{ form.valid }}
      <br>
      form.status: {{ form.status }}
      <br>
      form.value: {{ form.value | json }}     
    </pre> -->
  </div>
</section>
