<!-- Contact Section-->
<section class="page-section mt-5" id="contact">
  <div class="container">
    <!-- Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Contact Me
    </h2>
    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <!-- Form-->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- FORMULAR -->
        <form
          id="contactForm"
          novalidate="novalidate"
          autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <!-- Name -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Name</label>
              <input
                id="name"
                formControlName="name"
                class="form-control"
                [class]="{ valid: validName }"
                type="text"
                placeholder="Name"
                autocomplete="off"
              />
              <div
                class="invalid"
                *ngIf="
                  form.get('name').hasError('required') &&
                  form.get('name').touched
                "
              >
                {{ contact.invalid1 }}
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Email Address</label>
              <input
                id="email"
                formControlName="email"
                class="form-control"
                [class]="{ valid: validEmail }"
                type="text"
                placeholder="Email Address"
                autocomplete="off"
              />
              <div
                class="invalid"
                *ngIf="
                  form.get('email').hasError('required') &&
                  form.get('email').touched
                "
              >
                {{ contact.invalid2 }}
              </div>
            </div>
          </div>

          <!-- Msg -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Message</label>
              <textarea
                id="message"
                formControlName="msg"
                class="form-control"
                [class]="{ valid: validEmail }"
                rows="5"
                placeholder="Message"
                autocomplete="off"
              ></textarea>
              <div
                class="invalid invalid-textarea"
                *ngIf="
                  form.get('msg').hasError('required') &&
                  form.get('msg').touched
                "
              >
                {{ contact.invalid3 }}
              </div>
            </div>
          </div>

          <!-- LGPD -->
          <div class="control-group">
            <div class="input-group">
              <label for="lgpd">
                <input
                  id="lgpd"
                  formControlName="lgpd"
                  class="mr-2"
                  type="checkbox"
                />
              </label>

              <!-- LGPD - PRIVACY POLICY -->
              {{ contact.warn1 }}
              <a
                [routerLink]="[contact.link]"
                routerLinkActive="router-link-active"
                class="px-1"
                rel="nofollow"
                >{{ contact.text }}</a
              >
              {{ contact.warn2 }}
              <div
                class="invalid ml-2 mt-0"
                *ngIf="
                  form.get('lgpd').hasError('required') &&
                  form.get('lgpd').touched
                "
              >
                {{ contact.invalid4 }}
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group mt-5">
            <button
              id="sendMessageButton"
              class="btn btn-primary btn-xl"
              type="submit"
            >
              Send
            </button>
          </div>
        </form>
      </div>

      <!-- DEBUGG -->
      <hr />
      <pre class="border border-warning p-3">
        form valid: {{ form.valid }}
        <br>
        form status: {{ form.status }}
        <br>
        form value: {{ form.value | json }}
      </pre>
    </div>
  </div>
</section>
