<!-- Contact Section-->
<section class="page-section mt-5" id="contact">
  <div class="container">
    <!-- Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Contact Me
    </h2>
    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <!-- Form-->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- FORMULAR -->
        <form
          [formGroup]="form"
          (ngSubmit)="send()"
          autocomplete="off"
        >
          <!-- Name -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Name"
                formControlName="name"
                [class.is-invalid]="validate('name') > 0"
              />
              <!-- CSS validation -->
              <small
                class="invalid-feedback"
                *ngIf="validate('name') === 1"
              >
                {{ contact.required1 }}
              </small>
              <small class="invalid-feedback" *ngIf="validate('name') === 2">
                {{ contact.match1 }}
              </small>
            </div>
          </div>

          <!-- Email -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Email Address</label>
              <input
                class="form-control border border-white"
                type="text"
                placeholder="Email Address"
                formControlName="email"
              />
              <!-- [class.is-invalid]="validate('email') > 0" -->
              <!-- CSS validation -->
              <!-- <small class="invalid-feedback" *ngIf="validate('email') === 1">
                {{ contact.required2 }}
              </small>
              <small class="invalid-feedback" *ngIf="validate('email') === 2">
                {{ contact.match2 }}
              </small> -->
            </div>
          </div>

          <!-- Msg -->
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2"
            >
              <label>Message</label>
              <textarea
                rows="5"
                class="form-control border border-white"
                placeholder="Message"
                formControlName="msg"
              ></textarea>
              <!-- [class.is-invalid]="validate('msg') > 0" -->
              <!-- CSS validation -->
              <!-- <small class="invalid-feedback" *ngIf="validate('msg') === 1">
                {{ contact.required3 }}
              </small>
              <small class="invalid-feedback" *ngIf="validate('msg') === 2">
                {{ contact.match3 }}
              </small> -->
            </div>
          </div>

          <!-- LGPD -->
          <div class="control-group">
            <div class="input-group">
              <label for="lgpd">
                <input class="mr-2" type="checkbox" formControlName="lgpd" />
                <!-- [class.is-invalid]="validate('lgp') > 0" -->
              </label>

              <!-- LGPD - PRIVACY POLICY -->
              {{ contact.warn1 }}
              <a
                class="px-1"
                rel="nofollow"
                [routerLink]="[contact.link]"
                routerLinkActive="router-link-active"
                >{{ contact.text }}</a
              >
              {{ contact.warn2 }}
              <!-- CSS validation -->
              <!-- <small class="invalid-feedback" *ngIf="validate('lgpd') === 1">
                {{ contact.required4 }}
              </small> -->
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group mt-5">
            <button
              class="btn btn-outline-dark btn-lg"
              type="submit"
              name="submited"
              value="valid"
              [disabled]="!form.valid"
            >
              Send
            </button>
          </div>
        </form>
      </div>

      <!-- DEBUGG -->
      <hr />
      <pre class="border border-danger p-3">
        form.valid: {{ form.valid }}
        <br>
        form.status: {{ form.status }}
        <br>
        form.value: {{ form.value | json }}     
      </pre>
    </div>
  </div>
</section>
