<section class="page-section portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      SKILLS
    </h2>

    <!-- Icon Divider -->
    <app-divider [color]="divider"></app-divider>

    <!-- Tech Grid -->
    <div id="skills-grid" class="p-3 mt-4 text-left text-gray">
      <!-- JS -->
      <div class="mb-4">
        <h3 class="h4">
          <span class="text-custom-dark"> JavaScript </span>
          frameworks
        </h3>
        <ul class="p-2 pic-grid d-flex">
          <li class="p-1">
            <ng-template ngFor let-skill [ngForOf]="skillsJS">
              <img
                class="m-2"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                alt="skill[0]"
              />
            </ng-template>
          </li>
        </ul>
      </div>

      <!-- CSS -->
      <div class="mb-4">
        <h3 class="h4">
          <span class="text-custom-dark"> CSS </span>
          frameworks and preprocessors
        </h3>
        <ul class="p-2 pic-grid d-flex">
          <li class="p-1">
            <ng-template ngFor let-skill [ngForOf]="skillsCSS">
              <img
                class="m-2"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                alt="skill[0]"
              />
            </ng-template>
          </li>
        </ul>
      </div>

      <!-- DB -->
      <div class="mb-4">
        <h3 class="h4">
          <span class="text-custom-dark"> Database </span>
          Management Systems
        </h3>
        <ul class="p-2 pic-grid d-flex">
          <li class="p-1">
            <ng-template ngFor let-skill [ngForOf]="skillsDB">
              <img
                class="m-2"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                alt="skill[0]"
              />
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
