.navbar-brand {
  img {
    width: 50px;
  }
  span {
    color: orange;
  }
  &:hover {
    mix-blend-mode: luminosity;
  }
  &:active {
    mix-blend-mode: color-burn;
  }
}

// b4 override
.nav-link:hover {
  cursor: pointer;
}
