@import "../../styles"; // globals

.masthead {
  padding-top: calc(6rem + 74px);
	padding-bottom: 6rem;
	
  // Masthead Avatar Image
  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead-avatar {
    max-width: 150px;
	}
	
  // Icon Divider
  .divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
		align-items: center;
		.divider-custom-line {
			width: 100%;
			max-width: 7rem;
			height: 0.25rem;
			background-color: #2c3e50;
			border-radius: 1rem;
			border-color: #2c3e50 !important;
		}
		.divider-custom-line:first-child {
			margin-right: 1rem;
		}
		.divider-custom-line:last-child {
			margin-left: 1rem;
		}
		.divider-custom-icon {
			color: #2c3e50 !important;
			font-size: 2rem;
		}
		&.divider-light .divider-custom-line {
			background-color: #fff;
		}
		&.divider-light .divider-custom-icon {
			color: #fff !important;
		}
  }
}

@media (min-width: $breakpoint-lg) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }
  }
}

// Bootstrap override
.bg-primary {
  background-color: #1abc9c !important;
}
