<!-- About Section-->
<section class="page-section bg-primary text-white mb-0 mt-5" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      {{ title }}
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row text-justify">
      <div class="col-lg-4 ml-auto">
        <p class="lead py-1">
          {{ hello }}
        </p>

        <p class="lead py-1">
          {{ p1a }}
          <b class="text-secondary font-weight-bold p-0 m-0">
            {{ p1b }}
          </b>
          {{ p1c }}
        </p>
      </div>

      <div class="col-lg-4 mr-auto">
        <p class="lead py-1">
          {{ p2a }}
          <b class="text-secondary font-weight-bold p-0 m-0">
            {{ p2b }}
          </b>
          {{ p2c }}
        </p>
      </div>

      <div class="col-lg-4 mr-auto">
        <p class="lead py-1">
          {{ p3a }}
          <a [href]="p3link" rel="nofollow" target="_blank" (click)="openLink()">
            <strong class="text-secondary font-weight-bold">
              <u>{{ p3linkText }}</u>
            </strong></a
          >, {{ p3b }}
          <b class="text-secondary font-weight-bold">
            {{ stak1 }}
          </b>
          and
          <b class="text-secondary font-weight-bold">
            {{ stak2 }}
          </b>
          {{ p3c }}
        </p>

        <p class="lead py-1">
          {{ bye }}
        </p>
      </div>
    </div>
  </div>
</section>
