<!-- About Section-->
<section class="page-section bg-primary text-white mb-0 mt-5" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      {{ about.title }}
    </h2>
    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <!-- About Section Content-->
    <div class="row text-justify">
      <div class="col-lg-4 ml-auto">
        <p class="lead py-1">
          {{ about.hello }}
        </p>

        <p class="lead py-1">
          {{ about.p1a }}
          <b class="text-secondary font-weight-bold p-0 m-0">
            {{ about.p1b }}
          </b>
          {{ about.p1c }}
        </p>

        <p class="lead py-1">
          {{ about.p2a }}
          <b class="text-secondary font-weight-bold p-0 m-0">
            {{ about.p2b }}
          </b>
          {{ about.p2c }}
        </p>
      </div>

      <div class="col-lg-4 mr-auto">
        <p class="lead py-1">
          {{ about.p3a1 }}
          <b class="text-secondary font-weight-bold p-0 m-0">
            {{ about.p3a2 }} </b
          >,
          {{ about.p3a3 }}
        </p>

        <p class="lead py-1">
          {{ about.p3a }}
          {{ about.p3b }}
          <b class="text-secondary font-weight-bold">
            {{ about.stak1 }}
          </b>
          {{ about.and }}
          <b class="text-secondary font-weight-bold">
            {{ about.stak2 }}
          </b>

          <a
            [href]="about.p3link"
            rel="nofollow noreferrer"
            target="_blank"
            (click)="openLink()"
          >
            <strong class="text-secondary font-weight-bold">
              <u>{{ about.p3linkText }}</u>
            </strong></a
          >

          {{ about.p3c }}
        </p>

        <p class="lead py-1">
          {{ about.bye }}
        </p>
      </div>
    </div>
  </div>
</section>
