@import "../../../sass/globals"; // globals

@media screen and (min-width: 768px) {
  #about {
    height: 100vh;
  }
}

.page-section .container {
  padding-top: 5rem;
}

p.lead {
  a strong:hover {
    color: $white !important;
    font-weight: inherit !important;
  }
}
