<!-- PORTFOLIO -->

<section class="page-section portfolio bg-primary">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white mb-0">
      My Portfolio
    </h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line bg-white"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star text-white"></i>
      </div>
      <div class="divider-custom-line bg-white"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal1"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img1 }}" alt="{{ alt1 }}" />
        </div>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal2"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img2 }}" alt="{{ alt2 }}" />
        </div>
      </div>
      <!-- Portfolio Item 3-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal3"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img3 }}" alt="{{ alt3 }}" />
        </div>
      </div>
      <!-- Portfolio Item 4-->
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal4"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img4 }}" alt="{{ alt4 }}" />
        </div>
      </div>
      <!-- Portfolio Item 5-->
      <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal5"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img5 }}" alt="{{ alt5 }}" />
        </div>
      </div>
      <!-- Portfolio Item 6-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal6"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img6 }}" alt="{{ alt6 }}" />
        </div>
      </div>
      <!-- Portfolio Item 7 -->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModal7"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/{{ img7 }}" alt="{{ alt7 }}" />
        </div>
      </div>
      <!-- Portfolio Item - NEW -->
      <div class="col-md-6 col-lg-4">
        <div
          class="portfolio-item mx-auto"
          data-toggle="modal"
          data-target="#portfolioModalNew"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-white"
          >
            <div
              class="portfolio-item-caption-content text-center text-primary"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/{{ imgNew }}"
            alt="{{ altNew }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODALS -->

<!-- Portfolio Modal 1 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal1Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal1Label"
              >
                {{ title1 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img1 }}"
                alt="{{ alt1 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart1 }} {{ visitThis }}
                <a href="{{ link1 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }} {{ dontforget }}
                <a href="{{ linkPages }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText2 }}.
                </a>
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal2Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal2Label"
              >
                {{ title2 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img2 }}"
                alt="{{ alt2 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart2 }}
                {{ visitThis }}
                <a href="{{ link2 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }}
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal3Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal3Label"
              >
                {{ title3 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img3 }}"
                alt="{{ alt3 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart3 }}
                {{ visitThis }}
                <a href="{{ link3 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }}
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal4Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal4Label"
              >
                {{ title4 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img4 }}"
                alt="{{ alt4 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart4 }} {{ visitThis }}
                <a href="{{ link4 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }} {{ dontforget }}
                <a href="{{ link4b }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText3 }}.
                </a>
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal5Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal5Label"
              >
                {{ title5 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img5 }}"
                alt="{{ alt5 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart5 }} {{ visitThis }}
                <a href="{{ link5 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }}
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal6"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal6Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal6Label"
              >
                {{ title6 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img6 }}"
                alt="{{ alt6 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ visitList }}
                <a
                  class="d-a"
                  href="{{ link6a }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6aText }}</a
                >,
                <a
                  class="d-a"
                  href="{{ link6b }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6bText }}</a
                >,
                <a
                  class="d-a"
                  href="{{ link6d }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6dText }}</a
                >,
                <a
                  class="d-a"
                  href="{{ link6c }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6cText }}</a
                >,
                <a
                  class="d-a"
                  href="{{ link6e }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6eText }}</a
                >,
                <a
                  class="d-a"
                  href="{{ link6f }}" rel="nofollow"
                  target="_blank"
                  (click)="openLink()"
                  >{{ link6fText }}</a
                >
                {{ stars }}
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 7 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal7"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModal7Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal5Label"
              >
                {{ title7 }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ img7 }}"
                alt="{{ alt7 }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ paragraphPart7 }} {{ visitThis }}
                <a href="{{ link7 }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }}
                {{ dontforget }}
                <a href="{{ link7b }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText3 }}.
                </a>
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal NEW -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModalNew"
  tabindex="-1"
  role="dialog"
  aria-labelledby="portfolioModalNewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button
        class="close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
                id="portfolioModal5Label"
              >
                {{ titleNew }}
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/{{ imgNew }}"
                alt="{{ altNew }}"
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-5 text-justify">
                {{ p1 }} {{ visitThis }}
                <a href="{{ linkNew }}" rel="nofollow" target="_blank" (click)="openLink()">
                  {{ linkText }}
                </a>
                {{ star }}
                <span class="text-gray">{{ p2 }} </span>
              </p>
              <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
