<section class="page-section-bottom-0 portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0">
      TECHNOLOGIES
    </h2>

    <!-- Icon Divider -->
    <isk-divider [color]="divider"/>

    <!-- TOP - Tech Grid -->
    <div
      id="skills-grid"
      class="max-width-lg mx-auto p-5 my-5 text-left text-gray border border-amber-400/30 rounded">

      <!-- Lang -->
      <div class="mb-5">
        <h3 class="h4 pb-3">
          <span class="text-amber-400/75 uppercase"> Languages </span>
        </h3>
        <ul class="flex flex-wrap gap-4 ">
            @for (skill of skillsLang; track skill) {
          <li class="flex border border-emerald-400 rounded-sm bg-white p-4">
              <img class="w-10 self-center rounded-lg mix-blend-multiply"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
          </li>
            }
        </ul>
      </div>

      <!-- Stacks -->
      <div class="mb-5" style="cursor: none">
        <h3 class="h4">
          <span class="text-amber-400/75"> Environment </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsStack; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Frontend -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Frontend</span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsFrontend; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Backend -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Backend </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsBackend; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- DB -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Databases </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsDB; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Version Control -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Version Control </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of git; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Testing -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> E2E/Unit Testing </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of testing; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Package Managers -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Package Managers</span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of packages; track skill) {
              <img
                class=""
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Bubdlers -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Package Bundlers </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsBundlers; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Cloud  -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75">Cloud</span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of XaaS; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- CMS -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> CMS </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of wordpress; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>

      <!-- Game Engines -->
      <div class="mb-5">
        <h3 class="h4">
          <span class="text-amber-400/75"> Game Engines </span>
        </h3>
        <ul class="p-0 mt-3 pic-grid d-flex">
          <li>
            @for (skill of skillsGameEngines; track skill) {
              <img
                class="w-20"
                [src]="skill[1]"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="skill[0]"
                [alt]="skill[0]" />
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
