<!-- * Masthead * -->
<app-masterhead id="home"></app-masterhead>

<!-- * Featured - Culex * -->
<app-featured id="new"></app-featured>

<!-- * Potfolio * -->
<app-portfolio id="portfolio">
  <!-- 1. Portfolio Boxes -->

  <!-- Portfolio Item 1 -->
  <app-portfolio-item
    id="transcluded-portfolio-1"
    [inProps]="props1"
  ></app-portfolio-item>

  <!-- Portfolio Item 2 -->
  <app-portfolio-item
    id="transcluded-portfolio-2"
    [inProps]="props2"
  ></app-portfolio-item>

  <!-- Portfolio Item 3 -->
  <app-portfolio-item
    id="transcluded-portfolio-3"
    [inProps]="props3"
  ></app-portfolio-item>

  <!-- Portfolio Item 4 -->
  <app-portfolio-item
    id="transcluded-portfolio-4"
    [inProps]="props4"
  ></app-portfolio-item>

  <!-- Portfolio Item 5 -->
  <app-portfolio-item
    id="transcluded-portfolio-5"
    [inProps]="props5"
  ></app-portfolio-item>

  <!-- Portfolio Item 6 -->
  <app-portfolio-item
    id="transcluded-portfolio-6"
    [inProps]="props6"
  ></app-portfolio-item>

  <!-- Portfolio Item 7 -->
  <app-portfolio-item
    id="transcluded-portfolio-7"
    [inProps]="props7"
  ></app-portfolio-item>

  <!-- Portfolio Item 8 - NEW -->
  <app-portfolio-item
    id="transcluded-portfolio-8"
    [inProps]="props8"
  ></app-portfolio-item> 
</app-portfolio>
