<!-- * Masthead * -->
<app-masterhead id="home"></app-masterhead>

<!-- * Featured - Culex * -->
<app-featured id="new"></app-featured>

<!-- * Potfolio * -->
<app-portfolio id="portfolio">
  <!-- 1. Portfolio Boxes -->

  <!-- Portfolio Item 1 -->
  <app-portfolio-item
    id="transcluded-portfolio-1"
    [item]="portfolio.modal1"
  ></app-portfolio-item>

  <!-- Portfolio Item 2 -->
  <app-portfolio-item
    id="transcluded-portfolio-2"
    [item]="portfolio.modal2"
  ></app-portfolio-item>

  <!-- Portfolio Item 3 -->
  <app-portfolio-item
    id="transcluded-portfolio-3"
    [item]="portfolio.modal3"
  ></app-portfolio-item>

  <!-- Portfolio Item 4 -->
  <app-portfolio-item
    id="transcluded-portfolio-4"
    [item]="portfolio.modal4"
  ></app-portfolio-item>

  <!-- Portfolio Item 5 -->
  <app-portfolio-item
    id="transcluded-portfolio-5"
    [item]="portfolio.modal5"
  ></app-portfolio-item>

  <!-- Portfolio Item 6 -->
  <app-portfolio-item
    id="transcluded-portfolio-6"
    [item]="portfolio.modal6"
  ></app-portfolio-item>

  <!-- Portfolio Item 7 -->
  <app-portfolio-item
    id="transcluded-portfolio-7"
    [item]="portfolio.modal7"
  ></app-portfolio-item>

  <!-- Portfolio Item 8 - NEW -->
  <app-portfolio-item
    id="transcluded-portfolio-8"
    [item]="portfolio.modal8"
  ></app-portfolio-item>
</app-portfolio>
