<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <!-- Masthead Avatar Image-->
    <img
      class="border border-white rounded masthead-avatar mb-5"
      [src]="src"
      [alt]="alt"
    />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">{{ name }}</h1>

    <!-- Icon Divider-->
    <app-divider [color]="divider"></app-divider>

    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">{{ title }}</p>
  </div>
</header>
