<h1 class="text-center pb-5">{{ lgpd.en.title }}</h1>

<!-- declaración -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading1 }}</h2>
  <p>
    <b class="text-primary">{{ lgpd.en.titular }}</b> informs you about its
    Policy Privacy regarding the treatment and protection of character data
    personal users and customers that may be collected by the browsing or
    contracting services through the website
    <b class="text-primary">{{ lgpd.en.website }}</b
    >.
  </p>

  <p>
    In this sense, the Holder guarantees compliance with current regulations
    regarding the protection of personal data, reflected in the Organic Law
    3/2018, of December 5, Protection of Personal Data and Guarantee of Digital
    Rights (LOPD GDD). It also complies with the Regulation (EU) 2016/679 of the
    European Parliament and of the Council of April 27, 2016 on the protection
    of natural persons (RGPD).
  </p>

  <p>
    The use of the website implies the acceptance of this Privacy Policy as well
    as the conditions included in the Legal Notice.
  </p>
</section>

<!-- identidad del responsable -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading2 }}</h2>
  <ul class="text-left">
    <li>
      Headline: <b class="text-primary">{{ lgpd.en.titular }}</b>
    </li>
    <li>
      Email: <b class="text-primary">{{ lgpd.en.email }}</b>
    </li>
    <li>
      Website: <b class="text-primary">{{ lgpd.en.website }}</b>
    </li>
  </ul>
</section>

<!-- principios tratamiento de datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading3 }}</h2>
  <p>
    Principles applied in the treatment of data In the treatment of your
    personal data, the Holder will apply the following principles that are
    conform to the requirements of the new European regulation for the
    protection of data:
  </p>
  <ul>
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.principle1 }}:</b>
        The Holder will always require consent for the treatment of your
        personal data that can be for one or more specific purposes about which
        you will be informed in advance with absolute transparency.
      </p>
    </li>
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.principle2 }}:</b>
        The Owner will request only the data strictly necessary for the purpose
        or purposes requested.
      </p>
    </li>
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.principle3 }}:</b>
        The data will be kept for the time strictly necessary to the purpose or
        purposes of the treatment. The Owner will inform you of the term of
        corresponding conservation according to the purpose. In the case of
        subscriptions, the Holder will periodically review the lists and
        eliminate those records inactive for a considerable time.
      </p>
    </li>
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.principle4 }}:</b>
        Your data will be treated in such a way that its security,
        confidentiality and integrity is guaranteed. You should know that the
        Holder takes the necessary precautions to avoid access not authorized or
        improper use of the data of its users by third parties.
      </p>
    </li>
  </ul>
</section>

<!-- obtención de datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading4 }}</h2>
  <p>
    To browse <b class="text-primary">{{ lgpd.en.website }}</b> It is not
    necessary that you provide any personal data. The cases in which you do
    provide your personal data are the following
  </p>
  <ul class="text-left">
    <li>
      By contacting through the contact forms or sending an email electronic.
    </li>
  </ul>
</section>

<!-- Tus derechos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading5 }}</h2>
  <p>
    The Owner informs you that regarding your personal data you have the right
    to:
  </p>
  <ul class="text-left">
    <li>Request access to stored data.</li>
    <li>Request a rectification or cancellation.</li>
    <li>Request the limitation of your treatment.</li>
    <li>Object to treatment.</li>
    <li>Request the portability of your data.</li>
  </ul>
  <p>
    The exercise of these rights is personal and therefore must be exercised
    directly by the interested party, requesting it directly from the Owner,
    which means that any customer, subscriber or collaborator who has provided
    your data at some point you can go to the Owner and ask information about
    the data you have stored and how you have obtained them, request their
    rectification, request the portability of their personal data, oppose the
    treatment, limit its use or request the cancellation of these data in the
    files of the Holder.
  </p>
  <p>
    To exercise your rights of access, rectification, cancellation, portability
    and opposition you have to send an email to
    <b class="text-primary">{{ lgpd.en.email }}</b> specifying the name that you
    entered in the contact form.
  </p>
  <p>
    You have the right to effective judicial protection and to file a claim
    before the control authority, in this case, the Spanish Agency for Data
    Protection, if you consider that the processing of personal data that
    concern you violates the Regulation.
  </p>
</section>

<!-- finalidad -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading6 }}</h2>
  <p>
    When you connect to the website to send an email to the Owner, you subscribe
    to their newsletter or make a contract, you are facilitating personal
    information for which the person responsible is the Owner. This information
    may include personal data such as your IP address, name and surname,
    physical address, email address email, phone number, and other information.
    By facilitating this information, you give your consent for your information
    to be collected, used, managed and stored by superadmin.es, only as
    described in the Legal Notice and in this Privacy Policy.
  </p>
  <p>
    The personal data and the purpose of the treatment by the Holder is
    different according to the information capture system:
  </p>
  <ul class="text-left">
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.tratamiento }}:</b>
        The Holder requests personal data among which may be: Name and surname,
        email address, telephone number and address of your website in order to
        respond to your queries. For example, the Owner uses this data to
        respond to your messages, doubts, complaints, comments or concerns you
        may have regarding the information included in the website, the services
        that are provided through the website, the processing of your data
        personal matters, questions regarding the legal texts included in the
        website, as well as any other queries you may and may not have is
        subject to the conditions of the website or the contract.
      </p>
    </li>
  </ul>
  <p>
    There are other purposes for which the Holder processes your personal data:
  </p>
  <ul class="text-left">
    <li>
      <p>
        To guarantee compliance with the conditions contained in the Notice
        Legal and applicable law. This may include the development of tools and
        algorithms that help this website to guarantee the confidentiality of
        the personal data it collects.
      </p>
    </li>
    <li>
      <p>To support and improve the services offered by this website.</p>
    </li>
    <li>
      <p>
        To analyze navigation. The Holder collects other data not identification
        that are obtained through the use of cookies that are downloaded to your
        computer when you browse the website whose characteristics and purpose
        are detailed in the Cookies Policy.
      </p>
    </li>
    <li>
      <p>
        For a possible analysis of the navigation. The owner reserves the right
        to collect other non-identifying data obtained through the use of
        cookies that are downloaded to your computer when you browse the website
        whose characteristics and purpose are detailed in the Cookies Policy.
      </p>
    </li>
    <li>
      <p>
        To manage social networks. the Holder has a presence in networks social.
        If you become a follower on the Owner's social networks, the treatment
        of personal data will be governed by this section, as well as per those
        conditions of use, privacy policies and access regulations that belong
        to the appropriate social network in each case and that you have
        previously accepted.
      </p>
    </li>
  </ul>
  <p>
    You can check the privacy policies of the main networks social in these
    links:
  </p>
  <ul class="text-left">
    <li>
      <a
        [href]="lgpd.en.socialLink1"
        rel="nofollow"
        target="_blank"
        (click)="openLink()"
      >
        <i class="fab fa-linkedin mr-1"></i>
        {{ lgpd.en.socialTitle1 }}
      </a>
    </li>
    <li>
      <a
        [href]="lgpd.en.socialLink2"
        rel="nofollow"
        target="_blank"
        (click)="openLink()"
      >
        <i class="fab fa-github mr-1"></i>
        {{ lgpd.en.socialTitle2 }}
      </a>
    </li>
  </ul>
  <p>
    The Owner will process your personal data in order to administer correctly
    their presence in the social network, inform you of their activities,
    products or services, as well as for any other purpose than social media
    regulations allow.
  </p>
  <p>
    In no case will the Owner use the profiles of followers in networks social
    to send advertising individually.
  </p>
</section>

<!-- seguridad -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading7 }}</h2>
  <p>
    To protect your personal data, the Holder takes all precautions reasonable
    and follow industry best practices to avoid their loss, misuse, improper
    access, disclosure, alteration or destruction of the same.
  </p>
  <p>
    The website is hosted on
    <a
      [href]="lgpd.en.hostingLink"
      rel="nofollow"
      target="_blank"
      (click)="openLink()"
    >
      {{ lgpd.en.hostingTitle }}</a
    >. The security of your data is guaranteed, since they take all the
    necessary security measures for this. You can check their policy privacy for
    more information.
  </p>
</section>

<!-- contenido  -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading8 }}</h2>
  <p>
    The pages of this website may include embedded content (for example, videos,
    images, articles, etc.). The embedded content of other websites behave in
    exactly the same way as if you had visited the other website.
  </p>
  <p>
    These websites may collect data about you, use cookies, embed an additional
    third-party tracking code, and monitor your interaction using this code.
  </p>
</section>

<!-- cookies  -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading9 }}</h2>
  <p>
    For this website to work properly you need to use cookies, which is
    information that is stored in your web browser.
  </p>
  <p>
    In the Cookies Policy page you can consult all the information regarding the
    collection policy, the purpose and the treatment of cookies.
  </p>
</section>

<!-- legitimación  -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading10 }}</h2>
  <p>The legal basis for the processing of your data is: consent.</p>
  <p>
    To contact the Owner, subscribe to a newsletter or carry out comments on
    this website you have to accept this Policy Privacy.
  </p>
</section>

<!-- categoria datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading11 }}</h2>
  <p>The categories of personal data that the Owner deals with are:</p>
  <ul class="text-left">
    <li>Identification data.</li>
  </ul>
</section>

<!-- conservación datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading12 }}</h2>
  <p>
    The personal data that you provide to the Holder will be kept until request
    its deletion.
  </p>
</section>

<!-- principios tratamiento de datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading13 }}</h2>
  <ul>
    <li>
      <p>
        <b class="text-primary mr-1">{{ lgpd.en.thirdPartyTitle }}</b>
        is a web analytics service provided by Google, Inc., a company of
        Delaware whose main office is at 1600 Amphitheater Parkway, Mountain
        View (California), CA 94043, United States (“Google”).
      </p>
      <p>
        You will find more information in:
        <a
          [href]="lgpd.en.thirdPartyLink"
          rel="nofollow"
          target="_blank"
          (click)="openLink()"
          >{{ lgpd.en.thirdPartyLink }}</a
        >
      </p>
      <p>
        Google Analytics uses "cookies", which are text files located on your
        computer, to help the Holder to analyze the use made by the website
        users. The information generated by the cookie about the use of the
        website (including your IP address) will be directly transmitted and
        archived by Google on servers in the United States.
      </p>
    </li>
  </ul>
  <p>
    You can also see a list of the types of cookies used by Google and its
    collaborators and all the information regarding their use of cookies
    advertising.
  </p>
</section>

<!-- navegación web -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading14 }}</h2>
  <p>
    When browsing {{ lgpd.en.website }} non-identifying data can be collected,
    which may include, IP address, geolocation, a record of how use the services
    and sites, browsing habits and other data that do not can be used to
    identify you.
  </p>
  <p>The website uses the following third-party analysis services:</p>
  <ul>
    <li>
      {{ lgpd.en.thirdPartyTitle }}
    </li>
  </ul>
  <p>
    The Owner uses the information obtained to obtain statistical data, analyze
    trends, administer the site, study browsing patterns and to collect
    demographic information.
  </p>
</section>

<!-- veracidad de datos -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading15 }}</h2>
  <p>
    You undertake that the data provided to the Holder are correct, complete,
    accurate and current, as well as to maintain them properly updated.
  </p>
  <p>
    As a user of the website you are solely responsible for the veracity and
    correction of the data you send to the site exonerating the Holder of any
    responsibility in this regard.
  </p>
</section>

<!-- aceptación -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading16 }}</h2>
  <p>
    As a user of the website, you declare that you have been informed of the
    conditions on the protection of personal data, you accept and consent to the
    treatment thereof by the Holder in the form and for the purposes indicated
    in this Privacy Policy.
  </p>
</section>

<!-- revocabilidad -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading17 }}</h2>
  <p>
    To exercise your rights of access, rectification, cancellation, portability
    and opposition you have to send an email to
    <b class="text-primary">{{ lgpd.en.email }}</b> with the request, specifying
    the name you entered in the contact form.
  </p>
  <p>
    The exercise of your rights does not include any data that the Holder is
    obliged to keep for administrative, legal or security purposes
  </p>
</section>

<!-- cambios en la política -->
<section class="mb-4">
  <h2 class="text-left">{{ lgpd.en.heading18 }}</h2>
  <p>
    The Owner reserves the right to modify this Policy of Privacy to adapt it to
    legislative or jurisprudential developments, as well as to industry
    practices.
  </p>
  <p>
    These policies will be in effect until they are modified by others duly
    published.
  </p>
</section>
