<!-- Footer-->
<footer class="footer text-center m-0 p-0">
  <!-- Social Media - transclusion -->
  <ng-content select="#transcluded-follow"></ng-content>

  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <span class="d-block"
      >made with ❤️ in
      <a
        [href]="footer.link1"
        rel="nofollow noreferrer"
        target="_blank"
        (click)="openLink()"
      >
        {{ footer.tool }}
        <img src="./assets/img/portfolio/angular.png" alt="" />
      </a>
    </span>
    <span class="d-block">
      Modified
      <a
        [href]="footer.link2"
        rel="nofollow noreferrer"
        target="_blank"
        (click)="openLink()"
      >
        {{ footer.theme }}
      </a>
      under {{ footer.license }} license</span
    >
    <small>{{ footer.copyright }}</small>
  </div>
</footer>
